<h1>Autenticación de usuarios</h1>     

<%= link_to "Iniciar Sesion", new_user_session_path %>
<%= link_to "Crear una cuenta", new_user_registration_path %>
<%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>